<% @tracks.each do |track| %>
  <%= track.track_name  %> </br>
  <%= track.user.display_name %>

  <div class="music-player">
    <audio id="player-<%= track.id %>" controls>
      <source src="<%= fetch_track_from_s3(track.track_url) %>" type="audio/mp3">
    </audio>
  </div>
<% end %>

<%= javascript_tag do %>
  document.addEventListener('DOMContentLoaded', function() {
  const players = document.querySelectorAll('audio');
  players.forEach(function(player) {
  new Plyr(player);
  });
  });
<% end %>

<%= button_to "Sign out", destroy_user_session_path, method: :delete %>
